#main-login {
  width: 50%;
  height: 65%;
  position: relative;
  top: 50%;
  left: 80px;
  transform: translateY(-50%);
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

#main-login .logo {
  margin-bottom: 20px;
}

#main-login .logo img {
  width: 200px;
  height: 120px;
}

#main-login .join-ment {
  margin-top: 30px;
}

#main-login .join-ment p {
  font-size: 14px;
  color: #777;
}

#main-login .join-ment p span {
  text-decoration: underline;
  cursor: pointer;
}