body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p, a, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html, body, div, span, form, input {
  margin: 0;
  padding: 0;
}

button, input {
  border: 1px solid #ccc;
  background-color: #fff;
}

button:focus, input:focus {
  outline: none;
}

button:active {
  color: currentColor;
}